{% extends 'remote.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<style text/css>
  {% load static %}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

  .h-pro{
    top-margin:0;
    padding:2rem;
    color:#3A6B35;
  }
  .h2-pro{
    padding:1rem;
    color:#3A6B35;
    font-size:150%;
    box-shadow: 10px 10px 10px 10px #CBD18F;
    letter-spacing: 2px;
  }
  .btn
  {
    width: 120px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background: #E3B448;
    color: #3A6B35;
    cursor: pointer;
    font-size: 14px;
  }
  .btn:hover {
    background: #fff;
    color: #3A6B35;
  }
  .container-fluid h2{
    color:#CBD18F;
  }
  .card-a{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
{% comment %} // --------------
// Global styles
// -------------- {% endcomment %}

*, *:after, *:before{
  box-sizing: border-box;
}
.card {
  /* Add shadows to create the "card" effect */
  {% comment %} box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); {% endcomment %}
  transition: 0.3s;
  background-color:#CBD18F;
  color:#3A6B35;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  {% comment %} box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); {% endcomment %}
}

/* Add some padding inside the card container */
.container {
  padding: 2px 30px;
}
.card {
  {% comment %} box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); {% endcomment %}
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #CBD18F;
  color:#3A6B35 ;
  transform: rotateY(180deg);
}
.line{
  display:flex;
  justify-content:space-around;
  align-item:center;
}
@media only screen and (max-width:700px) {
  .line{
      display:flex;
      flex-direction:column;
      align-items:center;
  }
}
.flip-card h3{
  padding:20px;
}
.flip-card-a{
  background-color: transparent;
  {% comment %} padding:20px; {% endcomment %}
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.flip-card-a h3{
  padding:40px;
}
.flip-card-a:hover .flip-card-inner {
  transform: rotateY(180deg);
}
@media only screen and (max-width: 300px) {
  .line{
      margin:20px 0;
  }
}
h4{
  padding:20px;
  background-color: #CBD18F;
  color:#3A6B35 ;
}
.top{
  font-size:60px;
  color:#3A6B35;
}
.top span{
  font-style:bold;
  font-size:40px;
}
hr {
  width: 100%;
  height: 20px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 2px;
  border-color: white;
}
.h-pro span{
  font-style:bold;
  font-size:37px;
}
.container {
  position: relative;
  height: 400px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-out;
}

.container:hover {
  box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}

.img-container {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.img-container:hover {
  cursor: pointer;
}

.container:hover .img-container {
  transform: translateY(-100px);
}

.img-container > img {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.container:hover > .img-container > img {
  opacity: 0.5;
}

.social-media {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
}

.social-media > li {
  list-style: none;
}

.social-media > li > a {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #FFF;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.3s ease-out;
}

.container:hover > .social-media > li > a {
  transform: translateY(0);
  opacity: 1;
}

.social-media > li > a > .fa {
  font-size: 24px;
  line-height: 50px;
  transition: transform 0.3s ease-out;
}

.social-media > li > a:hover > .fa {
  transform: rotateY(360deg);
}

.container:hover .social-media li:nth-child(1) a {
  transition-delay: 0s;
}

.container:hover .social-media li:nth-child(2) a {
  transition-delay: 0.1s;
}

.container:hover .social-media li:nth-child(3) a {
  transition-delay: 0.2s;
}

.container:hover .social-media li:nth-child(4) a {
  transition-delay: 0.3s;
}

.container:hover .social-media li:nth-child(5) a {
  transition-delay: 0.4s;
}

.user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center
}

.user-info > h2 {
  padding: 0;
  margin: 10px 0;
}

.user-info > span {
  color: #262626;
  font-size: 16px;
}
</style>
{% load static %}
<div class="container-fluid px-0 mb-3" style="background-color: #CBD18F">
    <img src="https://source.unsplash.com/900x300/?trucks" class="d-block w-100 h-30" alt="...">
    <h1 class="h-pro"><span>HPR</span> GOODS CARRIER<br>TRANSPORT</h1>
    <p class="h2-pro">
      <strong>We specialize in a variety of logistics services. Our aim is to diliver the top level of logistics based on your requests.</strong>
    </p>
    {% comment %} <center><button href="/front.html" class="btn">Get in touch</button></center> {% endcomment %}
    <h2>hii</h2>
    {% comment %} <div class="card">
      <center><img src="{% static 'images/qwe.jpg' %}" alt="Avatar"  class=" w-20 h-40"></center>
      <div class="container">
        <center><h4><b>sanjay singh</b></h4>
        <p>Owner Of HPR GOODS CARRIER<BR>TRANSPORT</BR></p></center>
      </div>
    </div> {% endcomment %}
    <div class="container">
      <div class="img-container">
        <img src="{% static 'images/owe.jpg' %}">
      </div>
      <div class="user-info">
        <h2>Sanjay Singh</h2>
        <span>Owner of this transport</span>
      </div>
    </div>
</div>
<center>
  <h4 class="top"><span>our</span>services.</h4>
  <hr>
<h1 style="color:#3A6B35;">Card Flip with Text</h1>
<h3 style="color:#3A6B35;">Hover over the image below:</h3>
</center>
<div class="line">
  <div class="flip-card py-3">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img align="center" src="{% static 'images/bulker1.jpg' %}" alt="Avatar" style="width:300px;height:300px; px-3; py-3">
        {% comment %} <h3>Bulker Catagiory</h3> {% endcomment %}
      </div>
      <div class="flip-card-back">
        <h1>Bulkers</h1> 
        <p>We have more than 50 bulkers. 35 are of 45 tone and remaning are of 25 tones</p>
      </div>
    </div>
  </div>
  <div class="flip-card-a py-3">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img align="center" src="{% static 'images/tata.jpg' %}" alt="Avatar" style="width:300px;height:300px ;px-3">
        {% comment %} <h3>Tallior Catagiory </h3> {% endcomment %}
      </div>
      <div class="flip-card-back">
        <h1>Tallior</h1> 
        <p>We have more than 20 tallios. some are of 40 tons and .some are of 25 tons</p> 
      </div>
    </div>
  </div>
</div>

{% endblock body %}